* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #dedede;
    color: #333;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}

.container {
    background-color: black;
    padding: 20px;
    width: 5px;
    text-align: center;
    height: 5px;
}

.details {
    margin-bottom: 20px;
}

.details h1 {
    font-size: 2rem;
    color: purple;
    margin-bottom: 10px;
}

.details p {
    font-size: 1.2rem;
    color: #fbfbfb;
}

.images {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}

.images .product1,
.images .product2,
.images .product3 {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 10px;
    width: 30%;
}

.images img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.images h4 {
    font-size: 1rem;
    color: #333;
}

.images div:hover {
    transform: scale(1.05);
}
